 body {background-color: black;} 

/* Suppression des puces et des marges pour les listes du menu et des sous-menus */ 
.dropdownmenu,
.dropdownmenu ul {
    list-style-type: none; 
    margin: 0px; 
    padding: 0px;
} 
.dropdownmenu ul { /* Masquage des sous-menu par defaut */
    display: none;
}
.dropdownmenu li {
    /* Disposition horizontale des elements de menu */
    display: inline-block;
    /* Positionnement relative des elements de menu pour pouvoir    positionner les sous-menu correctement en absolu */
    position: relative;
}
.dropdownmenu li:hover ul {
    /* Affichage du soumenu au survol */
    display: block;
    /* Positionnement du sous-menu */ 
    position: absolute; 
    top: 36px; /* Hauteur du menu + hauteur du padding top et bottom : 30 + 3 + 3 = 36 */ 
    left: 0px; /* Decalage du sous-menu par rapport aux liens du menu*/ 
    z-index: 100; /* Gestion de la superposition des sous-menus par rapport au reste de la page */ 
}
.dropdownmenu ul a { 
    /* Changement de l'affichage des liens des    sous-menus pour ne pas les afficher en inline-block comme les liens de menu, ils seront donc verticaux */
    display: block;
}
/* Gestion des couleurs */
.dropdownmenu li { 
    background-color: #fff; /* Couleur d'arriere-plan du menu */
}
.dropdownmenu li a { 
    color: #fff; /* Couleur du texte du menu */ 
}
.dropdownmenu li:hover {
    background-color: #fff; /* Couleur d'arriere-plan du menu au survol */
}
.dropdownmenu li:hover a {
    color: #fff; /* Couleur du texte du menu au survol */ 
}
.dropdownmenu ul li { 
    background-color: #555; /* Couleur d'arriere-plan des sous-menu */ 
}
.dropdownmenu ul li:hover {
    background-color: #555; /* Couleur d'arriere-plan des sous-menu au survol */ 
}
.dropdownmenu ul li a {
    color: #fff; /* Couleur du texte des sous-menu */ 
}
.dropdownmenu ul li:hover a {
    color: #fff; /* Couleur du texte des sous-menu au survol */
}
