<html>
<head>
<title> palabrer.com </title>
<link rel="stylesheet" href="index.css">
</head>
<body>
<ul class="dropdownmenu">
    <li><a href="#">create debate</a>
		<form action="/createDebate">
			<ul>
				<li><a>name</a>
	            <a><input type="text" id="name" name="name"></a>
				<a>abstract</a>
	            <a><textarea id="abstract", name="abstract", rows="10", cols="30"></textarea></a>
				<a><br></a>
				<a><br></a>
				<a><br></a>
				<a><br></a>
				<a>content</a>
				<a><textarea id="content" name="content", rows="20", cols="30"></textarea></a>
				<a><br></a>
				<a><br></a>
				<a><br></a>
                <a><br></a>
				<a><br></a>
                <a><br></a>
				<a><br></a>
                <a><br></a>
	            <a><input type="submit" value="Submit"></a></li>
	        </ul>
		</form>
    </li>
    <li><a href="#">join debate</a>
		<form action="/joinDebate">
	        <ul>
				<li><a>name</a></li>
	            <li><a><input type="text" id="name" name="name"></a></li>
				<li><a><input type="submit" value="join"></a></li>
	        </ul>
		</form>
    </li>
	<li><a href="list.html">list</a>
        <form action="">
        </form>
    </li>
</ul>
</form>
</body>
</html>


