<html>
<head>
<title> palabrer.com </title>
<link rel="stylesheet" href="index.css">
</head>
<body>
<ul class="dropdownmenu">
    <li><a href="#">login</a>
		<form action="/login">
			<ul>
				<li><a>login</a></li>
	            <li><a><input type="text" id="login" name="login"></a></li>
				<li><a>password</a></li>
	            <li><a><input type="password" id="password" name="password"></a></li>
	            <li><a><input type="submit" value="Submit"></a></li>
	        </ul>
		</form>
    </li>
    <li><a href="#">register</a>
		<form action="/register">
	        <ul>
				<li><a>login</a></li>
	            <li><a><input type="text" id="fname" name="uname"></a></li>
				<li><a>password</a></li>
	            <li><a><input type="password" id="mdp1" name="mdp1"></a></li>
				<li><a>repeat password</a></li>
	            <li><a><input type="password" id="mdp2" name="mdp2"></a></li>
				<li><a>mail</a></li>
	            <li><a><input type="text" id="mail" name="mail"></a></li>
				<li><a><input type="submit" value="Submit"></a></li>
	        </ul>
		</form>
    </li>
	<li><a href="readme.html">readme</a>
        <form action="">
        </form>
    </li>
</ul>
</form>
</body>
</html>


