<h4> Ce site internet permet à des participants de visualiser des débats sous la forme d'un <a href="https://fr.wikipedia.org/wiki/Arbre_binaire">arbre binaire générale </a>
, ce format permet de rapidement diférencier les arguments pertinants des arguments bidons. </h4>
<h4> Toutefois si les participants aux débats ne sont pas de bonnes fois il est toujours possible de saboter le procédée.</h4>
<h4> La liberté d'expression étant ce qu'elle est en France je demande aux utilisateurs de poster du contenue légale uniquement, Merci </h4>
<h4> me contacter sur discord : thyma#5574 </h4>
